<app-layout (info)='info = $event; sample = $event ? null : sample' [hideHeader]='!!sample'>
    <div class='map content'>
        <div class="picture">picture</div>
        <div  class="the_map">
            <div #mapEl></div>
            <div class="infos">infos</div>
        </div>
        <app-wawb-sidebar [class.open]='!!sample' [item]='sample || DUMMY' (close)='sample = null'></app-wawb-sidebar>
        <app-wawb-infobar [class.open]='!!info' (close)='info = false'></app-wawb-infobar>
    </div>
    <h1 class='header-title'>Water Above Water Below</h1>
</app-layout>